button{
    padding:1rem 2rem;
    border-radius:2rem;
    border:none;
    cursor:pointer;
    background-color: $neutral-vlgray;
    font-family: $font-family;
    font-weight:400;
}

//button text colors
.color1{color:$primary-color-brightorange;}
.color2{color:$primary-color-darkcyan;}
.color3{color:$primary-color-verydarkcyan;}

//hover
button:hover{
    background: rgba(0, 0, 0, 0);
    outline:.2rem solid $neutral-vlgray;
    .color1,.color2,.color3{color:$neutral-vlgray;}
}