@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

//primary colors
$primary-color-brightorange: hsl(31, 77%, 52%);
$primary-color-darkcyan: hsl(184, 100%, 22%);
$primary-color-verydarkcyan: hsl(179, 100%, 13%);

//neutral colors
$neutral-white: hsla(0, 0%, 100%, 0.75);
$neutral-vlgray: hsl(0, 0%, 95%);

//font family
$font-family: "Lexend Deca", sans-serif;
$font-family-alt: "Big Shoulders Display", sans-serif;

//font-size
$font-size: 15px;

$screen-wd: 41.25em;